streamlit
openai
langchain
langchain_experimental
stripe
pypdf2
datetime
tenacity
docx2txt
textract
numpy
validate_email
scikit-learn
tiktoken
requests
youtube-transcript-api
yt-dlp
pydub
pytube
unstructured
openpyxl
pandas
pydantic
altair
python-dotenv
azure-identity
azure-keyvault-secrets
azure-mgmt-resource
azure-storage-blob